.jumbotron {
    margin-bottom: 0px;
    color: white;
}
#headBar {
    text-align: center;
    background-size: cover;
}
.navbar {
    background-color: lightgray !important;
}

body {
    background-color: #090627; 
    /*background-color: #0f0a4a; Making background a little bit darker */
    color: white;
}

.buttonCL {
    background-color: rgb(88, 88, 92);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center; 
}

.main {
    background-image: url('../images/high-resolution-earth_180484.jpg');
    background-size: 100% 100%;
}
/* #main {
    background-image: url('../images/high-resolution-earth_180484.jpg');
} */

#center {
    color: #fff;
    font-family: Helvetica,Ubuntu Light,Arial,Sans-Serif;
    font-weight: 200;
    font-size: 15px;
}


.qlook {
    background:rgba(149, 172, 50, 0.1);
    padding: 50px;
}

.media > img {
    width: 100px;
    height: auto;
}

