.jumbotron {
    margin-bottom: 0px;
    color: white;
}
#headBar {
    background-size: cover;
}
.navbar {
    background-color: lightgray !important;
}

body {
    background-color: #090627; 
    /*background-color: #0f0a4a; Making background a little bit darker */
    color: white;
}

 .buttonCL{
    background-color: rgb(88, 88, 92);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
   display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
      }

  
#bk-focus {
        background:url('../images/high-resolution-earth_180484.jpg')  no-repeat;
        background-size: 1500px 1000px;
        color: #fff;
        font-family: Helvetica,Ubuntu Light,Arial,Sans-Serif;
        font-weight: 200;
        font-size: 15px;
        width: 1500px;
        height: 1000px;
        margin: auto;
        padding: 10px;
        resize: both;
    text-align: center;
}


#qlook{background:rgba(149, 172, 50, 0.1);

    padding: 30px;
   position: fixed;
   grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
}
.qlook2{background:rgba(149, 172, 50, 0.1);
    height: 120px;
    width: 120px;
    text-align: center;
    padding: 101;
    grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
    
  
}
#center{
   
        margin: auto;
        width: 50%;
        padding: 10px;
        
      }

    .container2 {
        flex-wrap: row
      }

